{% extends "base.html" %}
{% block content %}

<h3>Add Game</h3>

<div class="row card">
    <form class="col-12 card-body" method="POST" action="{{ url_for('add_game') }}">

        <!-- Game Name-->
        <div class="row">
            <div class="col-12 form-control">
                <label for="game_name">Game</label>
                <input id="game_name" name="game_name" minlength="3" maxlength="25" type="text" required>
            </div>
        </div>
        
        <!-- Submit Button-->
        <div class="row">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-lg btn-success">
                    Add Game
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}