{% extends "base.html" %}
{% block content %}

<h3>{{ page_title }}</h3>

<div class="row card">
    <form class="col-sm-12" method="POST" action="{{ url_for('add_game') }}">
        <!-- game name -->
        <div class="row">
            <div class="input col-sm-6">
                <i class="fas fa-folder-open prefix"></i>
                <label for="game_name">Game Name</label>
                <input id="game_name" name="game_name" type="text" minlength="3" maxlength="50" class="validate" required>
                
                <label for="game_genre">Game Genre</label>
                <input id="game_genre" name="game_genre" type="text" minlength="3" maxlength="50" class="validate" required>
                
                <label for="game_developer">Game Developer</label>
                <input id="game_developer" name="game_developer" type="text" minlength="3" maxlength="50" class="validate" required>
                
                <label for="game_release_date">Game Release Date</label>
                <input id="game_release_date" name="game_release_date" type="text" minlength="3" maxlength="50" class="validate" required>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-large btn-primary">
                    Add Game
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}