{% extends "base.html" %}
{% block content %}


<h3>{{ page_title }}</h3>

<!-- Game card -->
<div id="row g-0">
    {% for game in games %}
    <div class="col-sm-12 col-md-5 col-lg-3 g-0 d-inline-block container-fluid">
        <div class="card text-center">
            <img src="{{ game.image }}">
            <div class="card-body">
                <h5 class="card-title">#{{ loop.index }}.{{ game.name }}</h5>
                <p class="card-text">Developer: {{ game.developer }}</p>
                <p class="card-text">Genre: {{ game.genre }}</p>
                <p class="card-text">Release Date: {{ game.release_date }}</p>
                <p class="card-text">Platform: {{ game.platform }}</p>
                <a type="button" href="{{ url_for('add_review') }}" class="btn btn-large btn-primary">Add
                    Review</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}