{% extends "base.html" %}
{% block content %}

<h3>Games of 2023</h3>

<div id="carouselExampleRide" class="carousel slide">
    <div class="carousel-inner">
        {% for game in games %}
        <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
            <hr class="featurette-divider">
            <div class="row featurette">
                <div class="col-md-4">
                    <h3>#{{ loop.index }}. {{ game.name }}</h3>
                    <p>Release Date: {{ game.release_date }}</p>
                    <p>Developer: {{ game.developer }}</p>
                    <p>Genre: {{ game.genre }}</p>
                </div>
                <div class="col-md-4">
                    <img src="{{ game.game_image }}" alt="" class="carousel-img-width">
                </div>
                <div class="col-4 text-center">
                    <a href="{{ url_for('add_game') }}" class="btn btn-lg btn-primary">
                        Add Game <i class="fa-regular fa-comment"></i>
                    </a>
                </div>
            </div>
            <hr class="featurette-divider">
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="text-dark"><i class="fa-solid fa-less-than"></i> Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="text-dark">Next <i class="fa-solid fa-greater-than"></i></span>
    </button>
</div>

{% endblock %}