{% extends "base.html" %}
{% block content %}

<h3>{{ page_title }}</h3>

<div class="accordion" id="myaccordion">
  {% for review in reviews %}
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{loop.index}}"
        aria-expanded="True" aria-controls="collapse">
        <span><strong>Username: </strong>{{ review.username }}<strong> Date: </strong>{{ review.date }}</span>
      </button>
    </h2>
    <div id="collapse-{{loop.index}}" class="accordion-collapse collapse" data-bs-parent="#myaccordion">
      <div class="accordion-body">
        <strong>{{ review.game }}</strong>
        <p>{{ review.review }}</p>
        <p>
          <a type="button" href="{{ url_for('edit_review', review_id=review.id) }}" class="btn btn-warning">Edit</a>
        </p>
        <p>
          <a type="button" class="btn btn-danger" data-bs-toggle="modal"
            data-bs-target="#my-static-modal-{{ review.id }}">Delete</a>
        </p>
      </div>
    </div>
  </div>
  <!-- Bootstrap 5.3 Modal -->
  <div class="modal fade" id="my-static-modal-{{ review.id }}" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Delete Review?</h5>
        </div>
        <div class="modal-footer">
          <a type="button" href="{{ url_for('delete_review', review_id=review.id) }}" class="btn btn-danger">Yes</a>
          <a type="button" href="modal-close" class="btn btn-success" data-bs-dismiss="modal">No</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}