{% extends "base.html" %}
{% block content %}

<h3>{{ page_title }}</h3>

<div class="row">
    <div class="col text-center">
        <a href="{{ url_for('add_review') }}" class="btn btn-large btn-primary">
            Add Review
        </a>
    </div>
</div>

<div class="accordion" id="myaccordion">
    {% for review in reviews %}
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{loop.index}}" aria-expanded="True" aria-controls="collapse">
          <span><strong>Username: </strong>{{ review.username }}<strong> Date: </strong>{{ review.date }}</span>
        </button>
      </h2>
      <div id="collapse-{{loop.index}}" class="accordion-collapse collapse" data-bs-parent="#myaccordion">
        <div class="accordion-body">
          <strong>{{ review.game }}</strong>
          <p>{{ review.review }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}